<div class="title span4">
  <a href="#/<%= id %>"><%= title %></a>
</div>

<div class="offset1 span1">
  <a href="#<%= id %>/edit"><i class="icon-pencil"></i> Edit</a>
</div>
<div class="span2">
  <a href="#<%= id %>/destroy" class="destroy"><i class="icon-trash"></i> Destroy</a>
</div>
