<td><%= title %></td>

<td>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-edit"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" href="#/<%= id %>">Show</a></li>
      <li><a tabindex="-1" href="#<%= id %>/edit">Edit</a></li>
      <li><a tabindex="-1" href="#<%= id %>/destroy" class="destroy">Destroy</a></li>
    </ul>
  </div>
</td>
